requests==2.32.5
bs4==0.0.2
tqdm==4.67.1
async-timeout==5.0.1
aiohttp==3.13.3
flask==3.1.2
opencc-python-reimplemented==0.1.7
# gunicorn==23.0.0
pillow==11.1.0
m3u8==6.0.0
pytz==2025.1
# pystray==0.19.5
ipip-ipdb==1.6.1
